<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>
        <p><%= message %></p>
        <div class="info">
            <p>This application was deployed using Jenkins!</p>
        </div>
    </div>
</body>
</html>